body {
    font-family: 'Courier Prime', monospace;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    padding: 20px;
}

.header-content {
    flex-basis: 25%;
    text-align: center;
    margin: 100px 20px 0; /* Increased top margin */
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 3em; /* Increased font size */
    color: #000000;

    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

p {
    font-size: 1.2em; /* Increased font size */
    color: #555;
}

.spotify-login-btn {
    display: inline-block;
    background-color: #1DB954;
    color: white;
    padding: 15px 25px; /* Increased padding */
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em; /* Increased font size */
    border: 2px solid transparent;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    margin-top: 15px;

    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.spotify-login-btn:hover {
    background-color: transparent;
    color: #1DB954;
    border-color: #1DB954;

}

.rhythmoji-founders-container {
    text-align: center; /* Center the images */
    margin-bottom: 20px; /* Space before the text */
}

.rhythmoji-image {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Space between images */
}

.image-placeholder img {
    max-width: 80%;
    height: auto;
    margin-left: 500px;
    display: block;
}

.image-placeholder {
    margin-top: 70px; /* Increased top margin for the image container */
}

#about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.main-nav a {
    display: block;
    padding: 10px 15px; /* Increased padding */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.2em; /* Increased font size */
    transition: background-color 0.3s;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.main-nav li {
    background-color: #1DB954;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.main-nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    transition: background-color 0.3s;
}

.main-nav li:hover {
    background-color: #0f7a3c;
}

#about {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 150px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header-content, .image-placeholder {
        flex-basis: 100%;
        
    }

    .main-nav {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .image-placeholder img {
        max-width: 100%; /* Increase the max-width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        margin-left: auto; /* Keep the image aligned to the right */
    }
}