/* Basic reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Very dark background for neon effect */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.header {
    background-color: #0f0; /* Bright neon green */
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0; /* Neon glow */
    padding: 1rem 0; /* Reduced padding */
    border-radius: 20px 10px 0 0; 

    text-align: center; /* Center everything within the header */
    padding: 1rem 0;
    position: relative;
}

.header .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Styling the headline */
.headline {
    font-size: 3rem;
    color: #000000;
}

/* Styling the description */
.description {
    font-size: 1.5rem;
    color: #000000;
    margin-top: 0.5rem;
}

/* Styling the main container */
.container {
    max-width: 800px; /* Restrict container width */
    margin-top: -2rem;
    text-align: center; /* Center text */
    padding: 2rem;
}

/* Image styles */
.rhythmoji-image {
    width: 50%; /* Make image smaller */
    height: auto;
    border-radius: 10px;
    margin-top: 2rem;
    mix-blend-mode:multiply;
    filter: contrast(1);
}

/* Navigation styles */
/* Navigation menu styles */
.nav {
    display: flex; /* Use flexbox for aligning nav items */
    justify-content: center; /* Center nav items */
    margin-bottom: 30px;
    align-items: center; /* Align nav items vertically */
    width: 100%; /* Full width */
}

.header {
    order: 2; /* Will ensure header comes after navigation */
}

.container {
    order: 3; /* Will ensure container comes after header */
}

.nav a, .nav button {
    background: none; /* Remove button-specific backgrounds */
    color: #1DB954;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
    border: none; /* Remove border from buttons */
    padding: 0; /* Reset padding to align with text links */
    cursor: pointer;
}

.nav a:hover, .nav button:hover {
    color: #000000;
}


/* Genre list styles */
#genreList {
    list-style: none;
    padding-left: 0;
}


#genreList li {
    background: #34495e; /* Slightly lighter than body for contrast */
    color: #fff; /* White text for readability */
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #34495e;
    margin: auto; /* Center in the middle of the screen */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    position: fixed; /* Stay in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    padding: 10px 20px;
    background-color: #0f0; /* Bright neon green */
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0; /* Neon glow */
    color: white;
    border: none;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Responsive design */
@media (max-width: 768px) {
    .headline {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .rhythmoji-image {
        width: 70%; /* Adjust image size on smaller screens */
    }


}
.modal-button:hover {
    background-color: #17a143; /* Slightly darker green on hover */
}