body {
    font-family: 'Courier Prime', monospace;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Align children elements in a column */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    height: 100vh; /* Ensure body takes full viewport height */
}

.container {
    width: 100%; /* Set a width to the container */
    max-width: 1200px; /* Max width can be adjusted as needed */
    margin: auto; /* Center the container in the viewport */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%; /* Use full width */
    text-align: center;
    margin: 20px 0; /* Provide some space around */
    z-index: 2;
}


.header-content, .spotify-login-btn, .main-nav {
    text-align: center;
    margin: 20px 0; /* Adjust margin for uniform spacing */
    z-index: 2;
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 3em;
    margin: 0; /* No margin to interfere with centering */
}

p {
    font-size: 1.2em; /* Increased font size */
    color: #000000;
}

.spotify-login-btn {
    background-color: #1DB954;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    border: none; /* Assuming no border is needed, but adjust as necessary */
    cursor: pointer; /* Indicate the button is clickable */
    margin: 50px 0; /* Provide some space around */
}

.image-placeholder img {
    max-width: 80%;
    height: auto;
    margin-left: 500px;
    display: block;
}

.image-placeholder {
    margin-top: 70px; /* Increased top margin for the image container */
}

.main-nav {
    width: 100%; /* Use full width */
    text-align: center;
    margin: 20px 0; /* Provide some space around */
    justify-content: center;
    
}

.main-nav a {
    display: block;
    padding: 10px 15px; /* Increased padding */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.2em; /* Increased font size */
    transition: background-color 0.3s;

}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
    gap: 10px;
}

.main-nav li {
    border-radius: 3px;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}



#about {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    color: white;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header-content, .image-placeholder {
        flex-basis: 100%;
        
    }

    .main-nav {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .image-placeholder img {
        max-width: 100%; /* Increase the max-width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        margin-left: auto; /* Keep the image aligned to the right */
    }
}