@keyframes pulsate {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
.spotify-login-btn {
background-color: #1DB954;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier Prime', monospace;
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}
.sidebar {
    width: 350px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    overflow-y: auto;
    border-right: 2px solid black;
    z-index: 1000;
}
h1#rhythmoji {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0;
    color: #000;
    text-transform: lowercase;
    letter-spacing: 0px;
}
.main-nav {
    width: 100%;
    margin: 20px 0;
    margin-top:90px;
    margin-right: 50px;
}
.main-content {
    position: relative;
    margin-left: 350px;
    flex-grow: 1;
    overflow: hidden;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
}
.creator-info {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    margin-left:50px;
}
.creator img {
    width: 80px;
    height: auto;
    margin-bottom: 8px;
}
.creator p {
    margin: 0;
    font-size: 1em;
}
.creator-info .names {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33vh;
    overflow: hidden;
}
.swiper1 {
    top: 0;
}
.swiper2 {
    top: 33.33vh;
}
.swiper3 {
    top: 66.66vh;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.container, header {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1900px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
}
.header-content, .spotify-login-btn {
    border-radius: 20px;
    animation: fadeIn 2s ease-out;
    padding: 5px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    margin: auto;
    display: inline-block;
    width:80%;
    text-align: center;
    z-index: 2;
    margin-bottom: 50px;
}
.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.main-nav li {
    margin-bottom: -10px;
    border-radius: 3px;
    padding: 0 10px;
    position: relative;
    background-color: transparent;
}
.main-nav li::before {
    content: '>';
    font-size: 1.2em;
    color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: pulsate 1s infinite;
}
.main-nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    transition: color 0.3s;
    padding-left: 25px;
}
@media (max-width: 768px) {
    body, html {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        min-height: 100vh;
        padding-top: 10px;
    }
    .sidebar {
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        overflow-y: auto;
        z-index: 2;
        order: 2;
        border-right: none;
    }
    .header-content, .spotify-login-btn {
        font-size: 14px;
    }
    .spotify-login-btn {
        margin-bottom: 15px;
    }
    .creator-info{
        margin-bottom: none !important;
    }
    .slogan {
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: center;
    }
    .creator-info, .creator {
        margin-top: 0;
        margin-right:30px;
        margin-bottom: 10px;
        
    }
    .creator img {
        width: 60px;
        margin-bottom: 5px;
    }
    .creator p {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 0.9em;
        text-align: center;
    }
    /* Hide the swiper containers entirely */
    .swiper-container {
        display: none;
    }
    /* Adjust the sidebar to accommodate the absence of swiper containers */
    .sidebar {
        height: auto;
        order: 1;
    }
    .header-content {
        margin-bottom: 10px;
    }
    .header-content, .spotify-login-btn {
        font-size: 14px;
        padding: 10px 20px;
        width: auto;
    }
    .sidebar-info {
        margin-bottom: 20px !important;
    }
}

.rhythmoji-founders-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
}
.rhythmoji-image {
    width: 200px; /* Reduced size */
    height: auto;
    margin: 0;
}
.founder-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founder-section p {
    margin-top: 10px;
    font-size: 1.1em;
}
.founder-link {
    color: #1DB954;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.founder-link:hover {
    color: #168f40;
    text-decoration: underline;
}
#dynamic-content .faq-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#dynamic-content .accordion {
    background-color: transparent;
    color: #000;
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1em;
    transition: 0.3s;
    margin-bottom: 10px;
    font-family: 'Courier Prime', monospace;
    position: relative;
    padding-left: 30px;
}

#dynamic-content .accordion:hover {
    color: #1DB954;
}

#about .accordion::before {
    content: '|';
    display: inline-block;
    margin-right: 10px;
    color: #000; /* Adjust color as needed */
}


#dynamic-content .panel {
    padding: 0 15px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

#dynamic-content .panel p {
    margin: 0;
    padding: 10px 0;
}

.hidden-message {
    display: none;
    color: #ff0000; /* Red color for visibility */
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}